<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">  
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
    <body>
        <form class="outorgante" method="POST" action='/resultados'>
            <label>Outorgante</label><br>
            <input type="text" placeholder="Nome da empresa" name="nome_da_empresa"><br>
            <input type="text" placeholder="RG" name="RG"><br>
            <input type="text" placeholder="CPF" name="CPF"><br>
            <input type="text" placeholder="Endereço" name="Endereço"><br>
            <input type="text" placeholder="Bairro" name="Bairro"><br>
            <input type="text" placeholder="Cidade" name="Cidade"><br>
            <input type="text" placeholder="Unidade Federativa" name="UF"><br>
            <input type="text" placeholder="CEP" name="CEP"><br>
            <input type="text" placeholder="Placa" name="Placa"/><br>
            <input type="text" placeholder="RENAVAM" name="Renavam"/><br>
            <input type="text" placeholder="Ano/Fab" name="Ano_fab"><br>
            <input type="text" placeholder="Ano/Mod" name="Ano_mod"><br>
            <input type="text" placeholder="Marca/Modelo" name="Marca_modelo"><br>
            <input type="text" placeholder="Chassi" name="Chassi">
            <input type="submit">
        </form>
    </body>
</html>